body {
    font-size: 12px;
    font-family: "Montserrat", "Roboto", sans-serif; 
    display: flex;
    justify-content: center;
    text-align: center
}

/*-----------------------*/

.form {
  padding: 15% 10%;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  color: #999;
}

.drop-area.highlight {
    border-color: #999;
}

.drop-area.success {
    border-color: #4CAF50;
    background-color: #e9f5e9;
}

.drop-area.success label {
    display: none;
}

.drop-area.success .success-message {
    display: block;
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
}

.drop-area label {
    font-size: 18px;
    cursor: pointer;
}

.drop-area input {
    display: none;
}

/*recognize*/
.upload-btn, .copy__btn {
  margin-top: 10px;
  padding: 14px 24px;
  font-size: 16px;
  font-family: "Roboto", "Montserrat", sans-serif;
  border: none;
  color: #fff;
  background-color: #369EDB;
  transition-duration: 0.3s
}
.upload-btn:hover {
    transform: scale(1.04);
    box-shadow: 0px 2px 6px #8cb6fa;
    cursor: pointer;
}
.upload-btn:active, .copy__btnL:active {
    box-shadow: inset 0px 0px 5px #618bff;
}
/*------------------*/
.copy__btn:hover {
    cursor: pointer;
    background-color: #369EFA;
}

/*---------*/
.back__btn {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    transition-duration: 0.3s;
}
.back__btn:hover {
    background-color: #d9f9ff;
    color: #369EFA;
}
.back__btn:hover {
    background-color: #bdf4ff;
    color: #369EFA;
}

/*---------*/


/*popup */
.popupBubble{
    position:relative;
    display:inline;         
}
.popupBubble .popup{
    position:absolute;
    display:none;
    border: none;
    border-radius: 5px;
    background: #ffff;
    box-shadow: 0px 0px 3px lightgrey;
    padding:5px;
    width:150px;
    font-size: 11px;
    font-weight: normal;
    color: #369EFA;
    font-family: "Roboto", sans-serif;
}
/*----------*/


/*logo*/
.logo {
    position: absolute;
    left: 7%;
    display: flex;
    height: 50px;
    align-items: center;
    gap: 5px;
    outline: none;
    color: #000;
    text-decoration: none;
}
.logo__img{
}
.logo__text {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Roboto", sans-serif;
}

@media (max-width: 870px) {
    .logo__text {
        display: none;
    }
}

/********************/

.result__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 45em;
}

.result_textarea {
    border: 2px solid #369EDB;
    min-width: 400px;
    min-height: 200px;
    resize: none;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 13px;
    outline: none;
    padding: 20px;
}